*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}



ul{
    list-style-type: none;
    margin: 0px;
    padding: 10px 45px;
    text-align: center;
    font-size: 10px;

}

#bake{
    text-align: center;
    font-size: 55px;
    padding: 8px 150px;
    color: #fff;
    
}

nav {
    background-color: #9b59b6;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav #menu li a
{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px 20px;
  font-size: 15px;
}

nav #menu li:hover a{
    background: #8e44ad;
    transition: all 0.3s;
    color: rgb(255, 109, 133);
}

#menu{
    display: flex;
}


#bar{
    display: none;
    background-color: #2980b9;
    color: #fff;
    text-align: right;
    padding: 10px;
    cursor: pointer;
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3 {
    color: white;
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
}

p, h1, h2, h3, h4, h5, h6
{
  font-size: 14px;
  line-height: 29px;
  color: rgb(193, 193, 193);
  padding: 10px 120px;
  letter-spacing: 1px;
  font-family: Montserrat, sans-serif;
}

.item0{
    grid-area: item0;
    text-align: center;
    background-image:url(../img/b3.jpg);
    padding: 180px;
} 

h2{
    
    color: #fff;
    font-size: 50px;
}

button{
    padding: 10px;
    background-color: plum;
    width: 200px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #e84393;
}

div .container button a{
    text-decoration: none;
    color: #fff;
}

.item1{
   
    grid-area: item1;
    background-color: #9b59b6;
    text-align: center;
}

.i1{
    text-align: center;
    padding-bottom: 100px;
}

.item2{
    grid-area: item2;
}
.item3{
   
    grid-area: item3;
    background-color: #e84393;
}

.i3{
    padding-bottom: 100px;

}

.item4{
   
    grid-area: item4;
    background-color: #e84393
   
}

.i4{
   padding-bottom: 100px;
}

.item5{
    grid-area: item5;
    
}

.item6{
    
    grid-area: item6;
    background-color: #9b59b6;
}

.i6{
    padding-bottom: 100px;
}

.item7{
    grid-area: item7;
}
.item8{
    
    grid-area: item8;
    background-color:#9b59b6;
}

.i8{
    padding-bottom: 130px;
}

.item9{
    grid-area: item9;

}

.container{
    display: grid;
    grid-template-areas:
    'item0 item0 item0 item0'
    'item1 item2 item2 item3'
    'item4 item4 item5 item6'
    'item7 item8 item9 item9';
}

@media screen and (max-width: 768px) {
    #menu{
        flex-direction: column;
        text-align: center;   
        padding: 45px;
    }

   

    #bar{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 0px;
        display: inline-block;
    }
    h1{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0px;
        display: inline-block;
        font-size: xx-large;
    }
    .container{
        display: grid;
        grid-template-areas:
        'item0 item0 item0 item0'
        'item1 item1 item1 item1'
        'item2 item2 item2 item2'
        'item3 item3 item3 item3'
        'item4 item4 item4 item4'
        'item5 item5 item5 item5'
        'item6 item6 item6 item6'
        'item7 item7 item7 item7'
        'item8 item8 item8 item8'
        'item9 item9 item9 item9';
    }
}
